/*
    **********************************************
    *********** start Events section *************
    **********************************************
*/
.events .custom-container {
    max-height: 600px;
    overflow: auto;
}
.events .custom-container::-webkit-scrollbar-thumb {
    background: #707070;
    border-radius: 10px;
}
.events .custom-container::-webkit-scrollbar {
    width: 7px;
}

.events .table {
    border-collapse: separate;
    border-spacing: 0 10px;
    text-align: center;
    background-color: white;
}

.events .table th[class^="dc"]::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 10px;
    background: red;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.events .custom-table th.dc-1::before {
    background: var(--dc1);
}
.events .custom-table th.dc-2::before {
    background: var(--dc2);
}

.events .custom-table th.dc-3::before {
    background: var(--dc3);
}

.events .custom-table th.dc-4::before {
    background: var(--dc4);
}

.events .custom-table th.dc-5::before {
    background: var(--dc5);
}

.events .custom-table th.dc-6::before {
    background: var(--dc6);
}

.events .custom-table th.dc-7::before {
    background: var(--dc7);
}

.events .custom-table th.dc-8::before {
    background: var(--dc8);
}

.events .custom-table th.dc-9::before {
    background: var(--dc9);
}

.events .custom-table th.dc-10::before {
    background: var(--dc10);
}

.events .custom-table th.dc-11::before {
    background: var(--dc11);
}

.events .custom-table th.dc-12::before {
    background: var(--dc12);
}

.events .custom-table th.dc-13::before {
    background: var(--dc13);
}

.events .custom-table th.dc-14::before {
    background: var(--dc14);
}

.events .custom-table thead tr th {
    border: 1px solid #00000077;
    border-right: none;
    border-left: none;
    vertical-align: middle;
}

.events .custom-table thead tr th:first-of-type {
    border-right: 1px solid #00000047;
    border-top-right-radius: 10px;
}

.events .custom-table thead tr th:last-of-type {
    border-left: 1px solid #00000077;
    border-top-left-radius: 10px;
}

.events .custom-table thead tr,
.events .custom-table tbody tr {
    box-shadow: 0px 4px 5px -4px #00000047;
    height: 72px;
}

.events .custom-table tbody th,
.events .custom-table tbody td {
    position: relative;
    border: none;
    vertical-align: middle;
    width: 100px;
}

.events .custom-table tbody td img {
    width: auto;
    height: 37px;
}

.events .custom-table td:not(:last-of-type)::after,
.events .custom-table tbody th::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    height: 70%;
    width: 1px;
    background-color: #a7a4a4;
}

@media (max-width: 767px) {
    .events .custom-table thead th,
    .events .custom-table tbody th,
    .events .custom-table tbody td {
        font-size: 10px;
    }
}
