*{padding:0;margin:0}
@font-face{
    /* font-family:Regular;
    src:url(../fonts/STC-Regular.ttf);
    font-style:normal;font-weight:100 */
}

@font-face{
     font-family:GE-Dinar;
    src:url(../fonts/GE-Dinar-One-Medium.otf) 
}

body{
     font-family:GE-Dinar; 
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    background-image: url(../img/IMG_8212.png);
    background-size: cover;
    /* background-position:center center ;*/
}

:root{
    --dc1:#99C7DA;/* مركز التوجيه و الارشاد*/
    --dc2:#129B9F ;/* مركز المهارات الطلابية */
    --dc3:#6EBDC3;/*الأنشطة الطلابية   */
    --dc4:#007EB9;/*  السجل المهاري */
    --dc5:#00568E;/*الإصدارات الطلابية   */
    --dc6: #1B4596;/* المسؤولية الاجتماعية والعمل التطوعي  */
    --dc7:#141D50;/* الأندية الطلابية  */
    --dc8:#00388E;/*الشراكة الطلابية   */
    --dc9: #4AA0CA;/* صندوق الطالب  */
    --dc10:#443C90;/*النادي الرياضي  */
    --dc11:#602C86;/* المسرح  */
    --dc12:#A1559C;/*سكن الطالبات   */
    --dc13:#756CAE;/* المنح ورعاية الطلاب الوافدين  */
    --dc14:#421E69;/*  التغذية */
}

/*  Starting index*/
.topicon-container{
    position: absolute;
    top:0;
    left:0;
}

.righticon-container{
    position: fixed;
    bottom:0;
    right:0;
    
}
.righticon-container img{
    width: 300px;
    height: 600px;
}

.topicon-container img{
width: 300px;
}
/* Ennding index */

/* Startig Video Welcom */
.videoWelcom .video-img-container{
max-height: 200px;
margin:0 auto;
width: 50%;
}
.videoWelcom .video-img-container img{
 border-radius:15px;

}
.dir i{
    background-color:#129B9F;
    padding:10px 15px;
    border-radius: 10px;
    color: white;
}
.video-vemo-container{
    display: none;
}
/* Ending Video Welcom */
/**/
/* Start Intro */
section.intro-up{
 padding: 30px 0;
}

.intro-up .logo-container img{
    width: 200px;
}

/* End Etro */
   .navbar .logo-container img{
       width: 200px;
       height: 80px;
   }

   .navbar  small{
       font-size: 12px;
   }

   .navbar ul.navbar-nav li.nav-item{
       margin-left: 30px;
       color: #818181;
       font-size: 20px;
   }

   .navbar ul.navbar-nav li.active,.navbar ul.navbar-nav li:hover{
       color: black;
   }

/* Start Depaertments */
.departments .card-text{
  height: 10px;
  border-radius: 12px 12px 0 0;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}

.departments  .col-xl-2{
    padding-right: 4px;
    padding-left: 4px;
}

.departments .card{
  margin-bottom:20px;
  /* border-color:transparent #ddd #ddd transparent; */
   border-color:transparent;
  box-shadow: 1px 1px 1px 1px #ddd;
}

.departments .card img{
 border-radius: 12px 12px 0 0;
}
.departments .card .card-body {
    min-height:70px ;
}
.departments .card .card-body .card-title{
  font-size: 16px;
  display: inline-block;
  line-height: 1;
}

.departments .container .row > div{
  margin-bottom: 20px;
}
/* End Departments */


/* Start Cotact */
 .contact ul li{
  display: inline-block;
  margin-left: 10px;
}

 .contact ul li img{
     width: 40px;
 }

 .contact .P-Cont p:first-child{
     font-size:25px;
 } 
 .contact .P-Cont p:last-child{
    font-size:40px;
} 

/* End Contact */

/* Start Departmet1 */
.department1 .cont-depart{
 max-width: 1000px;
 margin: auto;
}



  

.flex-container .d1-card{
 box-shadow: 0 0 3px 3px #ddd;
 width: 220px;
 /* height: 280px; */
 background-color: white;
 padding:30px 10px 10px 10px;
 border-radius: 5px;
 text-align: center;
}

@media(max-width:576px){
 .flex-container img{
   width: 100px;
  }
  .flex-container p{
      font-size: 14px;
  }
}

  
.department1 .d1-p{
 font-size: 25px;
}

.department1 .img-d1 img{
 width: 140px;
}

.department1 .d1-card img{
    width: 45px;
}

.department1 .d1-card p{
    padding-top: 10px;
    height: 80px;
    background-color: yellow;
}


.direction i{
 background-color:#129B9F;
 padding:10px 15px;
 border-radius: 10px;
 color: white;
}


.flex-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.department1 .img-d1 img{
    width: 140px;
  }
  
@media(max-width:576px){
.direction{
   display: none;
}

.department1 .img-d1 img{
  width: 100px;
}
.department1 .d1-card{
    margin-bottom: 10px !important;
}
}
/* End Department2 */

/*Start content-d1*/

.content-d1 .note p{
 width: 90%;
 line-height: 2;
}
.content-d1 .cont-img img{
 border-radius: 8px;
}

.content-d1 .servs ul li{
 display: inline-block;
 margin-left: 50px;
}

.content-d1 .servs span{
  margin-top: 10px;
}

.content-d1 .container h5{
    font-size: 25px;
    font-weight: 400;
    color: #000;
    margin: 20px 0 10px 0;
    
}

.lists select{
    padding: 10px 16px;
    border-radius: 6px;
    border-color: rgba(0,0,0,.1);
    margin-left: 15px;
}

.lists select option{

}
.lists button{
 background-color:#2F3891;
 border-color: transparent;
 padding: 10px 16px;
 border-radius: 12px;
 color: white;
}

.lastit button{
    background-color:#129B9F;
    border-color: transparent;
    padding: 10px 16px;
    border-radius: 12px;
    color: white;
}
.lastit ul{
    display: inline-block;
    margin-top: 10px;
}
.lastit ul li{
    display: inline-block;
    margin-right: 12px;
}
.lastit ul li img{
    width: 25px;
}

.lastit-width{
    max-width: 700px;
    
}

/*End content-d1*/
/*d2*/
.content-d1 .reserve ul li{
margin-right: 17px;}
/**/
/* Start FrameWork */
.dc1{
    background-color:#99C7DA;
}

.dc2{
    background-color:#129B9F;
}

.dc3{
    background-color:#6EBDC3;
}

.dc4{
    background-color:#007EB9;
}

.dc5{
    background-color:#00568E;
}

.dc6{
    background-color:#1B4596;
}

.dc7{
    background-color:#141D50;
}

.dc8{
    background-color:#00388E;
}

.dc9{
    background-color:#4AA0CA;
}

.dc10{
    background-color:#443C90;
}

.dc11{
    background-color:#602C86;
}

.dc12{
    background-color:#A1559C;
}

.dc13{
    background-color:#756CAE;
}

.dc14{
    background-color:#421E69;
}

/* Fonts */
.f-25{
 font-size: 25px;
}
/* ********** */
.lh-1{
    line-height: 1;
}

.lh-n{
    line-height: 1.5;
}
/* End FrameWork */

