* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: GE-Dinar;
    src: url(../fonts/GE-Dinar-One-Medium.otf);
}

body {
    font-family: GE-Dinar;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-image: url(../img/IMG_8212.png);
    background-size: cover;
    /* background-position:center center ;*/
}

:root {
    --dc1: #99c7da; /* مركز التوجيه و الارشاد*/
    --dc2: #129b9f; /* مركز المهارات الطلابية */
    --dc3: #6ebdc3; /*الأنشطة الطلابية   */
    --dc4: #007eb9; /*  السجل المهاري */
    --dc5: #00568e; /*الإصدارات الطلابية   */
    --dc6: #1b4596; /* المسؤولية الاجتماعية والعمل التطوعي  */
    --dc7: #141d50; /* الأندية الطلابية  */
    --dc8: #00388e; /*الشراكة الطلابية   */
    --dc9: #4aa0ca; /* صندوق الطالب  */
    --dc10: #443c90; /*النادي الرياضي  */
    --dc11: #602c86; /* المسرح  */
    --dc12: #a1559c; /*سكن الطالبات   */
    --dc13: #756cae; /* المنح ورعاية الطلاب الوافدين  */
    --dc14: #421e69; /*  التغذية */
}

/* Start FrameWork */
.intro-logo {
    min-height: 500px;
    min-height: 500px;
}

.intro-logo p {
    font-size: 30px;
}

@media (max-width: 768px) {
    .intro-logo p {
        font-size: 20px;
    }
}
.dc1 {
    background-color: #99c7da;
}

.dc2 {
    background-color: #129b9f;
}

.dc3 {
    background-color: #6ebdc3;
}

.dc4 {
    background-color: #007eb9;
}

.dc5 {
    background-color: #00568e;
}

.dc6 {
    background-color: #1b4596;
}

.dc7 {
    background-color: #141d50;
}

.dc8 {
    background-color: #00388e;
}

.dc9 {
    background-color: #4aa0ca;
}

.dc10 {
    background-color: #443c90;
}

.dc11 {
    background-color: #602c86;
}

.dc12 {
    background-color: #a1559c;
}

.dc13 {
    background-color: #756cae;
}

.dc14 {
    background-color: #421e69;
}

/* Fonts */
.f-25 {
    font-size: 25px;
}
/* ********** */
.lh-1 {
    line-height: 1;
}

.lh-n {
    line-height: 1.5;
}
/* End FrameWork */

section {
    position: relative;
    z-index: 1;
}

/*
    **********************************************
    *********** Start General Items  *************
    **********************************************
*/
a:hover,
a {
    color: inherit;
    text-decoration: none;
}

.righticon-container img {
    position: fixed;
    right: 0;
    height: 700px;
    bottom: 0;
    width: 400px;
}

.mobile-direction {
    display: none;
    margin-top: 50px;
}

section.direction {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 40px;
}

.direction i {
    background-color: #129b9f;
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
}

@media (max-width: 576px) {
    .righticon-container img {
        width: 121px;
        height: 273px;
    }
    .mobile-direction {
        display: flex;
    }
    section.direction {
        display: none;
    }
}

/*
    **********************************************
    *********** Start Video Welcom **********
    **********************************************
*/

.videoWelcom .video-img-container {
    margin: 0 auto;
}
.videoWelcom .video-img-container img {
    border-radius: 15px;
}
.dir i {
    background-color: #129b9f;
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
}
.video-vemo-container {
    display: none;
}

/*
    **********************************************
    *********** Start Intro  **********************
    **********************************************
*/
section.intro-up {
    padding: 30px 0;
}

.intro-up .logo-container img {
    width: 200px;
}

.intro-up small {
    font-size: 12px;
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes fade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes fade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
.animate-fade {
    -webkit-animation: fade 3s infinite;
    -moz-animation: fade 3s infinite;
    -o-animation: fade 3s infinite;
    animation: fade 3s infinite;
}

/*
    **********************************************
    *********** start Header *************
    **********************************************
*/
.top-icon,
header .top-icon {
    overflow: hidden;
}

.top-icon,
.top-icon img.left,
.top-icon img.video,
header .top-icon,
header .top-icon img.video,
header .top-icon img.left {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.top-icon img.left,
header .top-icon img.left {
    transform: translate(-19%, -58%);
    width: 250px;
}

header .top-icon img.right {
    top: 0;
    right: 0;
    transform: translate(19%, -58%);
    width: 250px;
}

.top-icon img.video,
header .top-icon img.video {
    width: 32px;
    top: 40px;
    left: 71px;
    z-index: 1;
}

header .navbar .navbar-brand {
    font-size: 15px;
}

header .navbar ul.navbar-nav li.nav-item {
    margin-left: 30px;
    color: #818181;
    font-size: 20px;
}

header .navbar ul.navbar-nav li.active,
header .navbar ul.navbar-nav li:hover {
    color: black;
}

header .nav-links .nav-toggler,
header .navbar .nav-toggler {
    position: absolute;
    top: 40px;
    right: 71px;
    z-index: 3;
    padding: 0;
    width: 36px;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

header .nav-links .nav-toggler span,
header .navbar .nav-toggler span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: white;
}

header .nav-links {
    position: fixed;
    right: 0;
    top: 0;
    transform: translate(100%, 0px);
    height: 100%;
    z-index: 5;
    background-image: linear-gradient(#1aa0ab, #743d97);
    min-width: 300px;
    padding: 50px 20px;
    transition: transform 0.5s ease-in-out;
}

header .nav-links.shown {
    transform: translate(0%, 0px);
}

header .nav-links .nav-toggler {
    position: static;
    float: left;
}

header .nav-links ul {
    clear: both;
}

header .nav-links a {
    color: white;
}

header .navbar .logo-container {
    width: 200px;
}

@media (max-width: 767px) {
    .top-icon img.left,
    header .top-icon img.left {
        width: 123px;
        transform: translate(-33%, -38%);
    }
    header .top-icon img.right {
        width: 123px;
        transform: translate(33%, -38%);
    }

    .top-icon img.video,
    header .top-icon img.video {
        width: 19px;
        top: 24px;
        left: 24px;
    }

    header .navbar .nav-toggler {
        top: 24px;
        right: 24px;
    }

    header .navbar .navbar-brand small {
        font-size: 8px;
    }

    header .navbar .navbar-brand .logo-container {
        width: 130px;
    }
}

/*
    **********************************************
    *********** start Home carousel *************
    **********************************************
*/
.home-carousel .links ul {
    list-style: none;
}

.home-carousel .links ul li {
    display: inline-block;
    margin-left: 40px;
    font-size: 15px;
    cursor: pointer;
    font-weight: lighter;
    color: #8b8c8c;
    transition: 0.4s color ease;
}

.home-carousel .links ul li.active {
    color: black;
}

.home-carousel .main-carousel .carousel-item {
    background-color: white;
    height: 100%;
}

.home-carousel .main-carousel .carousel-item .wrapper .img-wrapper {
    position: relative;
    height: 100%;
}

.home-carousel .main-carousel .carousel-item .wrapper .img-wrapper img {
    height: 100%;
    width: 100%;
}

.home-carousel .main-carousel .carousel-item .wrapper .img-wrapper .img-shadow {
    position: absolute;
    top: 0;
    right: 0;
}

.home-carousel .main-carousel .carousel-item .wrapper .text {
    padding-top: 30px;
    font-size: 25px;
}

/*******************************
    nested carousel starts here
******************************/
.home-carousel .main-carousel .carousel-item #nested-carousel {
    padding-bottom: 30px;
}

.home-carousel .main-carousel .carousel-item #nested-carousel,
.home-carousel .carousel-item #nested-carousel .carousel-inner,
.home-carousel .carousel-item #nested-carousel .carousel-inner .carousel-item {
    height: 100%;
    position: relative;
}

.home-carousel .carousel-item #nested-carousel .custom-indicators {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 15;
    justify-content: center;
    padding-right: 0;
    margin-left: 15%;
    margin-right: 15%;
    list-style: none;
}

.home-carousel .carousel-item #nested-carousel .custom-indicators ol {
    position: relative;
    margin-bottom: 0;
}

.home-carousel .carousel-item #nested-carousel .custom-indicators li {
    display: inline-block;
    margin-left: 6px;
    list-style: none;
    cursor: pointer;
    transition: 0.4s all ease;
    position: relative;
    width: 12px;
    height: 12px;
    background-color: #d0d0d0;
    border-radius: 50%;
}

.home-carousel
    .carousel-item
    #nested-carousel
    .custom-indicators
    li:first-of-type {
    width: 28px;
    height: 12px;
    background-color: #242424;
    border-radius: 8px;
}

.home-carousel .carousel-item #nested-carousel .slide-item {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    display: none;
}

.home-carousel .carousel-item #nested-carousel .slide-item.active {
    position: relative;
    z-index: 1;
    display: block;
}

.home-carousel .carousel-item #nested-carousel .text {
    color: black;
    padding-left: 20px;
    padding-right: 47px;
}

.home-carousel .carousel-item #nested-carousel .text ul {
    height: 90%;
    width: 100%;
    padding: 0;
    font-size: 16px;
}

.home-carousel .carousel-item #nested-carousel .text ul li {
    margin: 0 0 10px 0px;
    list-style-image: url(../img/list-item-img.png);
}

.home-carousel .carousel-item #nested-carousel a {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}
.home-carousel .carousel-item #nested-carousel a.next {
    left: 0;
}

.home-carousel .carousel-item #nested-carousel a.prev {
    right: 0;
    color: black;
}

.home-carousel .carousel-item #nested-carousel a i {
    font-size: 30px;
}

.download-book {
    position: relative;
    z-index: 2;
}

.download-book button {
    background-color: #2f3891;
    border-color: transparent;
    padding: 10px 16px;
    border-radius: 12px;
    color: white;
    outline: none;
    cursor: pointer;
}
/**************
 start media query flor carousel 
************/
@media (max-width: 575px) {
    .download-book span {
        font-size: 13px;
    }
}

@media (min-width: 576px) {
    .home-carousel .links ul li {
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    .home-carousel .links ul li {
        font-size: 30px;
    }
}

@media (min-width: 992px) {
    .home-carousel .carousel-item #nested-carousel .text {
        padding: 30px 34px 0;
    }

    .home-carousel .carousel-item #nested-carousel .text ul {
        font-size: 18px;
        height: 90%;
        width: 50%;
        padding: 0 20px;
    }

    .home-carousel .carousel-item #nested-carousel .text ul li {
        margin: 0 0 10px 43px;
    }
}

/*
    **********************************************
    *********** start Departments *************
    **********************************************
*/
.departments .container .row > div {
    margin-bottom: 20px;
}

.departments .card-text {
    height: 10px;
    border-radius: 12px 12px 0 0;
    margin-bottom: 0 !important;
    padding-bottom: 0;
}

.departments div[class^="col-"] {
    padding-right: 4px;
    padding-left: 4px;
}

.departments .card {
    margin-bottom: 20px;
    border-color: transparent;
    box-shadow: 1px 1px 1px 1px #ddd;
}

.departments .card img {
    border-radius: 12px 12px 0 0;
    height: 130px;
}
.departments .card .card-body {
    min-height: 70px;
}
.departments .card .card-body .card-title {
    font-size: 16px;
    display: inline-block;
    line-height: 1;
}

@media (max-width: 576px) {
    .departments .card {
        min-height: 175px;
    }
    .departments .card .card-body .card-title {
        font-size: 13px;
    }
    .departments .card img {
        height: 80px;
    }
}

/*
    **********************************************
    *********** start intro logos  *************
    **********************************************
*/
.intro-logo ul li {
    display: inline-block;
    margin-left: 10px;
}

.intro-logo ul li img {
    width: 40px;
}

.intro-logo .P-Cont p:first-child {
    font-size: 25px;
}
.intro-logo .P-Cont p:last-child {
    font-size: 40px;
}

.intro-logo .contact-logo img {
    width: 250px;
}

@media (max-width: 576px) {
    .contact .contact-logo img {
        width: 120px;
    }
}

/*
    **********************************************
    *********** info in every department *************
    **********************************************
*/
.department .cont-depart {
    max-width: 1000px;
    margin: auto;
}

.depart-cards .card {
    box-shadow: 0px 5px 6px 2px #ddd;
    height: 280px;
    background-color: white;
    padding: 30px 10px 10px 10px;
    border-radius: 5px;
    text-align: center;
    border: none !important;
}

.depart-cards .card img {
    width: 135px;
    height: auto;
    margin: auto;
}
@media (max-width: 576px) {
    .depart-cards p {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .direction {
        display: none;
    }

    .depart-cards .card img {
        width: 100px;
    }
    .department img {
        width: 140px;
    }
}

/*
    **********************************************
    *********** start content *************
    **********************************************
*/
.content .note p {
    width: 90%;
    line-height: 2;
}
.content .cont-img img {
    border-radius: 8px;
}

.content .servs ul li {
    display: inline-block;
    margin-left: 35px;
}

.content .servs span {
    margin-top: 10px;
}

.content .container h5 {
    font-size: 25px;
    color: #000;
    margin: 20px 0 10px 0;
}

.lastit {
    position: relative;
    z-index: 1;
}

.lastit .text,
.lists select {
    padding: 10px 16px;
    border-radius: 6px;
    border-color: rgba(0, 0, 0, 0.1);
    margin-left: 5%;
    width: 60%;
    outline: none;
}

.lastit button,
.lists button {
    background-color: #2f3891;
    border-color: transparent;
    padding: 10px 16px;
    border-radius: 12px;
    color: white;
    outline: none;
    width: 34%;
    cursor: pointer;
}

.lastit button {
    background-color: #129b9f;
}

.lastit ul {
    display: inline-block;
    margin-top: 10px;
}
.lastit ul li {
    display: inline-block;
    margin-right: 12px;
    cursor: pointer;
    position: relative;
    transition: all 1s ease-out;
    border: 1px solid #000;
    border-radius: 50px;
}

.lastit ul li img {
    width: 25px;
    transition: all 1s ease-out;
}

.lastit ul li .data {
    float: left;
    display: none;
    padding: 0px 10px;
}

.lastit-width {
    max-width: 800px;
}

@media (max-width: 576px) {
    /* .content .container h5 {
        font-size: 14px;
    }
    .content ul li,
    .content ol li,
    .content .container p {
        font-size: 10px;
    } */
    .content .img-dot {
        width: 8px;
    }
    .content .servs ul {
        display: flex;
        flex-wrap: wrap;
    }
    .content .servs ul li {
        width: 50%;
        margin: 0;
        margin-top: 20px;
    }
    .lists button,
    .lastit button {
        font-size: 10px;
    }
    .students-clubs p {
        font-size: 12px;
    }
}

/*
    *********************************************************
    *********** start scholarship services & female dorm ****
    *********************************************************
*/

.scholarship-services h3 {
    font-size: 20px;
}

.female-dorm ul.first li,
.scholarship-services ul li {
    list-style-type: none;
    margin: 10px;
    display: flex;
    align-items: center;
}

.female-dorm ul.first li img,
.scholarship-services ul li img {
    margin-left: 10px;
    width: 30px;
}

.female-dorm p,
.scholarship-services ul li p {
    margin: 0;
    font-size: 15px;
}

.female-dorm ul.second {
    padding-right: 88px;
}

@media (max-width: 576px) {
    .scholarship-services {
        margin-bottom: 200px;
    }
}

@media (min-width: 768px) {
    .scholarship-services h3 {
        font-size: 25px;
    }
    .female-dorm p,
    .scholarship-services ul li p {
        font-size: 19px;
    }
    .female-dorm ul.first li img,
    .scholarship-services ul li img {
        width: 40px;
    }
}

@media (min-width: 992px) {
    .scholarship-services h3 {
        font-size: 30px;
    }
    .female-dorm p,
    .scholarship-services ul li p {
        font-size: 25px;
    }
    .female-dorm ul.first li img,
    .scholarship-services ul li img {
        width: 50px;
    }
}

/*
    *********************************************************
    *********** start feed*************************** ****
    *********************************************************
*/

.feed select {
    margin-left: 8px;
    width: 35.5%;
}

.feed button {
    width: 25%;
}

@media (max-width: 1200px) {
    .feed select,
    .feed button {
        width: 100%;
        margin-bottom: 20px;
    }
}

/*
    **********************************************
    *********** start contact us  *************
    **********************************************
*/
.contact-us {
    font-size: 25px;
}
.contact-us ul li:not(:last-of-type) {
    margin-left: 20px;
}

@media (max-width: 767px) {
    .contact-us {
        font-size: 14px;
    }
    .contact-us ul li img {
        width: 40px;
    }
}
